@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* fonts */
body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

h3 {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 10px 0;
}

.section_header {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

li {
  color: #7a869a;
}

.leading {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.mobile-container {
  max-width: 100%;
  margin: auto;
  background-color: #e5e5e5;
  border-bottom-left-radius: 90px;
}

.container {
  width: 87.2%;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 65px;
  place-items: center;
}

/* button styles */
.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 8px 10px;
  width: fit-content;
  transition: all 0.3s ease-in-out 0s;
  display: flex;
  align-items: center;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

@media (min-width: 960px) {
  h3 {
    font-size: 40px;
    line-height: 52px;
  }

  .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    margin: auto;
  }
}
.social .social_header {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.social .social_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 170px;
  margin: 20px 0;
}
.social .social_links li a:hover {
  cursor: pointer;
}

/* NavBar */
@media (max-width: 960px) {
  .menu-wrap {
    /* change ham image to close */
  }
  .menu-wrap .ham {
    position: absolute;
    /* always keep ham on top of everything */
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../images/svg/ham.svg");
    background-size: 100%;
  }
  .menu-wrap .showClose {
    background-image: url("../images/svg/ham-close.svg");
  }
  .menu-wrap .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(96, 112, 255, 0.85);
    backdrop-filter: blur(6px);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateY(-100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
  }
  .menu-wrap .navbar ul {
    width: 100%;
    height: 250px;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
  }
  .menu-wrap .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 32px;
    line-height: 74px;
  }
  .menu-wrap .showNav {
    /* show the menu */
    transform: translateY(0);
  }
  .menu-wrap button {
    display: block;
  }
}
@media (min-width: 960px) {
  /* basic nav styling below */
  .menu-wrap button {
    display: none;
  }
  .menu-wrap .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 350px;
    justify-content: space-between;
  }
  .menu-wrap .navbar ul li a {
    color: #344563;
  }
  .menu-wrap .navbar ul li .active {
    border-bottom: 1px solid #333;
  }
}
.container.header_section {
  width: 100%;
  background-color: #fff;
  padding: 1px;
  position: sticky;
  top: 0;
}
.container.header_section .header {
  margin: 25px auto;
  font-size: 18px;
  line-height: 20px;
}
.container.header_section .header .header_toolbar {
  width: 87.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.header_section .header .header_toolbar .header_logo {
  font-weight: bold;
  text-decoration: none;
  animation: 3s ease-in 1s 1 normal running rotate;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  width: 100%;
  border-bottom-left-radius: 90px;
  margin-top: 0;
  background-color: #fff;
  background-image: url("../images/background/header-shapes mobile@2x.svg");
  padding: 100px 0;
  justify-content: center;
  align-items: center;
}
.welcome .welcome_header {
  color: #172b4d;
  margin-bottom: 10px;
  margin-top: 0;
}

@media (min-width: 960px) {
  .welcome {
    background-image: url("../images/background/header background-shape-desktop.svg");
  }
  .welcome .container {
    max-width: 63.89%;
  }
  .welcome .container .welcome_header {
    font-size: 48px;
    line-height: 60px;
  }
  .welcome .container .leading {
    font-size: 20px;
    line-height: 28px;
  }
}
.works {
  margin: auto;
  padding-top: 100px;
}
.works .project {
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 87.2%;
  height: max-content;
  align-items: center;
}
.works .project .project-img img {
  transition: transform 4s ease-in-out 0s;
  max-width: 100%;
}
.works .project .project-img img:hover {
  transform: scale(1.15);
}
.works .project .project-text .primary-text ul {
  display: flex;
  justify-content: space-between;
  width: 236px;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 0;
}
.works .project .project-text .primary-text ul .first-child {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #344563;
}
.works .project .project-text .secondary-text {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 17px;
}
.works .project .project-text .skills ul {
  margin: 14px 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.works .project .project-text .skills ul li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}
.works .project .project-text .btn-skills {
  width: 120px;
  letter-spacing: 0.03em;
  margin: 10px 0;
}
.works .project .project-text .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(6px);
  overflow: auto;
}
.works .project .project-text .modal-container.show-modal {
  opacity: 1;
  pointer-events: auto;
}
.works .project .project-text .modal-container .modal {
  width: 100%;
  height: 120%;
  display: grid;
  place-items: center;
}
.works .project .project-text .modal-container .modal .project {
  width: 87.5%;
  margin: auto;
}
.works .project .project-text .modal-container .modal .project .primary-text {
  width: 100%;
}
.works .project .project-text .modal-container .modal .project .primary-text .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works .project .project-text .modal-container .modal .project .primary-text .modal-header .close-modal {
  background-image: url(../images/svg/cancel-close-delete.svg);
  background-size: 100%;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.works .project .project-text .modal-container .modal .project .project-img {
  width: 100%;
}
.works .project .project-text .modal-container .modal .project .project-img img {
  transition: none;
}
.works .project .project-text .modal-container .modal .project .project-img img:hover {
  transform: scale(1);
}
.works .project .project-text .modal-container .modal .project .project-text {
  width: auto;
}
.works .project .project-text .modal-container .modal .project .project-text .skills-buttons-container .skills ul {
  width: 250px;
}
.works .project .project-text .modal-container .modal .project .project-text .skills-buttons-container .modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.works .project .project-text .modal-container .modal .project .project-text .skills-buttons-container .modal-buttons .btn-modal {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 120px;
}

@media (min-width: 960px) {
  .works .project {
    align-items: unset;
  }
  .works .project:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .works .project:nth-of-type(even) .project-img img {
    max-width: 100%;
  }
  .works .project .project-text {
    margin-left: 30px;
  }
  .works .project .project-text .primary-text ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 297px;
  }
  .works .project .project-text .primary-text ul .first-child {
    font-weight: 500;
  }
  .works .project .project-text .secondary-text {
    font-size: 16px;
  }
  .works .project .project-text .modal-container .modal .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works .project .project-text .modal-container .modal .project .project-text {
    display: flex;
    margin: auto;
  }
  .works .project .project-text .modal-container .modal .project .project-text .skills-buttons-container {
    width: 315px;
  }
  .works .project .project-text .modal-container .modal .project .project-text .skills-buttons-container .skills ul {
    width: 250px;
  }
  .works .project .project-text .modal-container .modal .project .project-text .skills-buttons-container .modal-buttons {
    width: 100%;
  }
}
.about_me {
  width: 100%;
  margin: 70px auto;
  background-color: #fff;
  border-top-right-radius: 90px;
  padding: 100px 0;
}
.about_me .proficiency {
  padding: 30px 0;
}
.about_me .proficiency ul {
  list-style: none;
  margin: 10px 0;
}
.about_me .proficiency ul li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  color: #000;
}
.about_me .about_text .about_header {
  color: #172b4d;
  margin-bottom: 10px;
  margin-top: 0;
}
.about_me .about_text .btn-resume {
  text-decoration: none;
  margin: 10px 0;
}

@media (min-width: 960px) {
  .about_me .proficiency {
    min-width: 45%;
  }
  .about_me .about_text {
    max-width: 45%;
  }
}
.footer {
  background: url("./images/background/header-shapes-contact@2x.svg");
  background-color: #6070ff;
  border-top-left-radius: 90px;
}
.footer .contact {
  padding: 100px 0;
}
.footer .contact h2 {
  margin-top: 0;
}
.footer .contact h2,
.footer .contact p {
  margin-bottom: 0;
  text-align: center;
  color: #ebebff;
}
.footer .contact p {
  font-size: 20px;
  line-height: 28px;
  transition: transform 2s ease-in-out 0s;
}
.footer .contact p:hover {
  transform: translate(20px);
}
.footer .contact form {
  max-width: 400px;
  margin: 20px auto;
}
.footer .contact form input,
.footer .contact form textarea {
  background: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
  width: 100%;
  margin: 10px 0;
}
.footer .contact form textarea {
  max-width: 100%;
  height: 170px;
}
.footer .contact form .btn {
  margin-top: 10px;
}
.footer .contact form .error-msg {
  color: yellow;
}

@media (min-width: 960px) {
  .footer {
    background: url("../images/background/contact form background shapes.svg");
    background-color: #6070ff;
    text-align: center;
  }
  .footer h2,
.footer p {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  .footer form .btn {
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
