@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

/* variables */
:root {
  --primary: #344563;
  --secondary: #172b4d;
  --tertiary: #6070ff;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* fonts */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

h4 {
  color: var(--secondary);
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 10px 0;
}

li {
  color: #7a869a;
}

.leading {
  color: var(--primary);
  font-size: 16px;
  line-height: 24px;
}

/* base styles */
.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--tertiary);
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 8px 10px;
  width: fit-content;
}

.btn:hover {
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--tertiary);
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

/* mobile styles */
.flex {
  display: flex;
  flex-direction: column;
}

.mobile-container {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #fff;
  border-bottom-left-radius: 90px;
  padding-top: 10px;
}

.container {
  width: 87.2%;
  margin: auto;
}

.header {
  width: 100%;
  margin: 25px auto;
  color: var(--tertiary);
  font-size: 18px;
  line-height: 20px;
}

.header_toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_logo {
  font-weight: bold;
  text-decoration: none;
}

.menu-wrap .hamburger {
  display: none;
}

.welcome {
  width: 100%;
  border-bottom-left-radius: 90px;
  margin-top: 0;
  background-image: url('../images/background/header-shapes\ mobile@2x.svg');
  padding: 100px 0;
}

.about_me {
  width: 100%;
  margin: 70px auto;
  background-color: #fff;
  border-top-right-radius: 90px;
  padding: 100px 0;
}

.welcome_header {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: var(--secondary);
  margin-bottom: 10px;
  margin-top: 0;
}

.social_header {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 170px;
  margin: 20px 0;
}

.social_li a:hover {
  cursor: pointer;
}

/* Works Section */
.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 65px;
  place-items: center;
}

.works {
  margin: auto;
}

.project {
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 87.2%;
  height: 552px;
}

.project:nth-of-type(even) {
  height: 596px;
}

.project-img img {
  max-width: 100%;
}

.project-text {
  height: 288px;
}

.skills ul {
  margin: 14px 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 215px;
}

.skills ul li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--tertiary);
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.btn-skills {
  width: 120px;
  letter-spacing: 0.03em;
  margin: 10px 0;
}

.primary-text ul {
  display: flex;
  justify-content: space-between;
  width: 236px;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 0;
}

.ul .first-child {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--primary);
}

.secondary-text {
  font-size: 15px;
  line-height: 24px;
  color: var(--primary);
  margin-bottom: 17px;
}

.btn-resume {
  text-decoration: none;
  margin: 10px 0;
}

.proficiency {
  padding: 30px 0;
}

.proficiency ul {
  list-style: none;
  margin: 10px 0;
}

.proficiency ul li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  color: #000;
}

input,
textarea {
  background: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
}

.contact {
  background: url('./images/background/header-shapes-contact@2x.svg');
  background-color: #6070ff;
  border-top-left-radius: 90px;
  padding: 100px 0;
}

.contact h2,
.contact p {
  margin-bottom: 0;
  text-align: center;
  color: #ebebff;
}

.contact p {
  font-size: 20px;
  line-height: 28px;
}

.contact form {
  max-width: 400px;
  margin: 20px auto;
}

.contact input,
.contact textarea {
  width: 100%;
  margin: 10px 0;
}

.contact textarea {
  max-width: 100%;
  height: 200px;
}

.contact .btn {
  margin-top: 10px;
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  h4 {
    font-size: 40px;
    line-height: 52px;
  }

  .welcome .leading {
    font-size: 20px;
    line-height: 28px;
  }

  .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    margin: auto;
  }

  .welcome {
    margin-bottom: 300px;
    background-image: url('../images/background/header\ background-shape-desktop.svg');
  }

  .welcome .container {
    max-width: 63.89%;
  }

  .welcome-text {
    max-width: 45%;
  }

  .project {
    height: initial;
  }

  .project-img img {
    max-width: 90%;
  }

  .project:nth-of-type(even) .project-img img {
    max-width: 100%;
  }

  .project:nth-of-type(even) {
    height: initial;
    flex-direction: row-reverse;
  }

  .proficiency {
    min-width: 45%;
  }

  .contact {
    background: url('../images/background/contact\ form\ background\ shapes.svg');
    background-color: #6070ff;
    text-align: center;
  }

  .contact h2,
  .contact p {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

  .menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu-wrap {
    width: 250px;
  }

  .toggler {
    display: none;
  }

  .primary-text ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 297px;
  }

  .ul .first-child {
    font-weight: 500;
  }

  .secondary-text {
    font-size: 16px;
  }
}
