// variables & mixins
@import '../components/variables';
@import '../components/animations';

// base & layout
@import '../components/base';

// components
@import '../components/social';

// Sections
@import '../components/menu';
@import '../components/header';
@import '../components/welcome';
@import '../components/project';
@import '../components/about';
@import '../components/footer';
