@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* fonts */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

h3 {
  color: $secondary;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 10px 0;
}

.section_header {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

li {
  color: #7a869a;
}

.leading {
  color: $primary;
  font-size: 16px;
  line-height: 24px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.mobile-container {
  max-width: 100%;
  margin: auto;
  background-color: #fff;
  border-bottom-left-radius: 90px;
}

.container {
  width: 87.2%;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 65px;
  place-items: center;
}

/* button styles */
.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: $tertiary;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 8px 10px;
  width: fit-content;
  transition: all 0.3s ease-in-out 0s;
}

.btn:hover {
  background: $tertiary;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

@media (min-width: $breakpoint-laptop) {
  h3 {
    font-size: 40px;
    line-height: 52px;
  }

  .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    margin: auto;
  }
}
