.header {
  width: 100%;
  margin: 25px auto;
  font-size: 18px;
  line-height: 20px;

  .header_toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_logo {
      font-weight: bold;
      text-decoration: none;

      @include keyframes(rotate) {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }

      @include animate(3s, ease-in, 1s, 1, normal, running, rotate);
    }
  }
}
