/* NavBar */
@media (max-width: 960px) {
  .menu-wrap {
    .ham {
      position: absolute;

      /* always keep ham on top of everything */
      z-index: 1000;
      top: 20px;
      right: 20px;
      width: 36px;
      height: 36px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      background-image: url('../images/svg/ham.svg');
      background-size: 100%;
    }

    /* change ham image to close */
    .showClose {
      background-image: url('../images/svg/ham-close.svg');
    }

    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      background: $overlay-color;
      width: 100vw;
      height: 760vh;
      overflow: hidden;
      color: white;

      /* hide the menu above the screen by default */
      transform: translateY(-100%);
      
      /* transition adds a little animation when sliding in and out the menu */
      transition: transform 0.2s ease;

      ul {
        width: 100%;
        height: 250px;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
        padding-top: 50px;

        li a {
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          padding: 40px 0;
        }
      }
    }

    .showNav {
      /* show the menu */
      transform: translateY(0);
    }

    button {
      display: block;
    }
  }
}

@media (min-width: 960px) {
  /* basic nav styling below */
  .menu-wrap {
    button {
      display: none;
    }

    .navbar {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        width: 250px;
        justify-content: space-between;

        li a {
          color: #344563;
        }
      }
    }
  }
}
