.works {
  margin: auto;
  padding-top: 100px;

  .project {
    padding: 16px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    width: 87.2%;
    height: max-content;
    align-items: center;

    .project-img img {
      transition: transform 1.3s ease-in-out 0s;
      max-width: 100%;
    }

    .project-img img:hover {
      transform: scale(1.15);
    }

    .project-text {
      .primary-text ul {
        display: flex;
        justify-content: space-between;
        width: 236px;
        padding: 0;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        margin: 15px 0;

        .first-child {
          list-style: none;
          padding: 0;
          margin: 0;
          color: $primary;
        }
      }

      .secondary-text {
        font-size: 15px;
        line-height: 24px;
        color: $primary;
        margin-bottom: 17px;
      }

      .skills ul {
        margin: 14px 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        width: 250px;

        li {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.03em;
          color: $tertiary;
          background: #ebebff;
          border-radius: 8px;
          padding: 4px 12px;
        }
      }

      .btn-skills {
        width: 120px;
        letter-spacing: 0.03em;
        margin: 10px 0;
      }

      .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        backdrop-filter: blur(6px);
        overflow: auto;

        &.show-modal {
          opacity: 1;
          pointer-events: auto;
        }

        .modal {
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;

          .project {
            width: 87.5%;
            margin: auto;

            .primary-text {
              width: 100%;

              .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .close-modal {
                  background-image: url(../images/svg/cancel-close-delete.svg);
                  background-size: 100%;
                  background-color: transparent;
                  border: none;
                  width: 16px;
                  height: 16px;
                  cursor: pointer;
                  margin-right: 10px;
                }
              }
            }

            .project-img {
              width: 100%;

              img {
                transition: none;
              }

              img:hover {
                transform: scale(1);
              }
            }

            .project-text {
              width: auto;

              .skills-buttons-container {
                .skills ul {
                  width: 250px;
                }

                .modal-buttons {
                  display: flex;
                  justify-content: space-between;
                  width: 250px;

                  .btn-modal {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    width: 120px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .works {
    .project {
      align-items: unset;

      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }

      .project-img {
        max-width: 45%;
      }

      .project-text {
        max-width: 50%;

        .primary-text ul {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          width: 297px;

          .first-child {
            font-weight: 500;
          }
        }

        .secondary-text {
          font-size: 16px;
        }

        .modal-container {
          .modal {
            .project {
              display: flex;
              flex-direction: column;
              align-items: center;

              .project-img {
                max-width: 100%;
              }

              .project-text {
                max-width: initial;
                display: flex;
                margin: auto;

                .skills-buttons-container {
                  width: 315px;

                  .skills ul {
                    width: 250px;
                  }

                  .modal-buttons {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
