.social {
  .social_header {
    color: #7f8cff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .social_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 170px;
    margin: 20px 0;

    .social_li a:hover {
      cursor: pointer;
    }
  }
}
