.about_me {
  width: 100%;
  margin: 70px auto;
  background-color: #fff;
  border-top-right-radius: 90px;
  padding: 100px 0;

  .accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accordion {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  
    .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
  
      h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
      }
  
      i {
        font-size: 24px;
        color: #777;
        transition: transform 0.2s ease-in-out;
      }
  
      &.active i {
        transform: rotate(180deg);
      }
    }
  
    .accordion-content {
      padding: 20px;
      display: none;
  
      &.active {
        display: block;
      }
  
      .logo-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
  
        li {
          margin: 10px;
        }
      }
    }
  }
  

  .about_text {
    .about_header {
      color: $secondary;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .btn-resume {
      text-decoration: none;
      margin: 10px 0;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .about_me {
    .proficiency {
      min-width: 45%;
    }

    .about_text {
      max-width: 45%;
    }
  }
}
