.footer {
  background: url('../images/background/header-shapes-contact@2x.svg');
  background-color: #6070ff;
  border-top-left-radius: 90px;

  .contact {
    padding: 100px 0;

    h2 {
      margin-top: 0;
    }

    h2,
    p {
      margin-bottom: 0;
      text-align: center;
      color: #ebebff;
    }

    p {
      font-size: 20px;
      line-height: 28px;
      transition: transform 2s ease-in-out 0s;
    }

    p:hover {
      transform: translate(20px);
    }

    form {
      max-width: 400px;
      margin: 20px auto;

      input,
      textarea {
        background: #fff;
        padding: 10px 16px;
        border-radius: 8px;
        border: 1px solid #cfd8dc;
        color: #172b4d;
        font-size: 17px;
        width: 100%;
        margin: 10px 0;
      }

      textarea {
        max-width: 100%;
        height: 170px;
      }

      .btn {
        margin-top: 10px;
      }

      .error-msg {
        color: yellow;
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .footer {
    background: url('../images/background/contact\ form\ background\ shapes.svg');
    background-color: #6070ff;
    text-align: center;

    h2,
    p {
      max-width: 500px;
      margin: auto;
      text-align: center;
    }

    form {
      .btn {
        margin: auto;
      }
    }
  }
}
