:root {
  --color-neutral-10: #f7f7f9;
  --simple-card-constrained-width: 10rem;
}

// theme colors
$primary: #344563;
$secondary: #172b4d;
$tertiary: #6070ff;
$overlay-color: rgba(96, 112, 255, 0.85);
$breakpoint-laptop: 960px;
